header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.2vw;
}

header {
    background: rgb(179, 174, 174);
}

body {
    background: url("Pro-Background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 50vw;
    flex-grow: 1;
    color: black;
}

span {
    float: left;
}

#Logo {
    height: 21.9vh;
}

#quote {
    float: left;
    margin-top: 4vw;
}

#info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    left: 5%;
}

#info h2{
    font-size: 2vw;
    font-weight: bold;
}

#info a{
    font-size: 1.2vw;
}

#Ping {
    width: 2%;
}

#Phone {
    width: 2%;
}

#info h3{
    font-size: 1.3vw;
    font-weight: normal;
}

.topnav {
    background-color: white;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 2vh 1vw;
    text-decoration: none;
    font-size: 1.1vw;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: aqua;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(37, 51, 179);
    color: white;
}