header h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1.2vw;
    position: absolute;
    top: 10vh;
    left: 10.5vw;
}

header {
    border: 0px;
    background: rgb(179, 174, 174);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

body {
    background: url("Pro-Background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 50vw;
    flex-grow: 1;
    color: black;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    width: 70%;
    position: relative;
    left: 70%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0vw 2vh;
    text-decoration: none;
    font-size: 1.1vw;
}

/* Add a black background color to the top navigation */
.bottomnav {
    background-color: #333;
    overflow: hidden;
    width: 70vw;
    position: absolute;
    left: 15vw;
}

/* Style the links inside the navigation bar */
.bottomnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2vh 3.29vw;
    text-decoration: none;
    font-size: 1.2vw;
}

/* Change the color of links on hover */
.bottomnav a:hover {
    background-color: rgb(95, 171, 241);
    color: black;
}

/* Add a color to the active/current link */
.bottomnav a.active {
    background-color: rgb(37, 51, 179);
    color: white;
}

#main-view {
    border: 3px ridge black;
    width: 50vw;
    background: rgba(255, 255, 255, 0.5)
}

#Logo {
    height: 21.9vh;
}

#Ping {
    height: 12%;
}

#Phone {
    height: 11%;
}

#Email {
    width: 2%;
}

#Hotel {
    width: 30vw;
    background: rgb(179, 174, 174);
}

#Location {
    width: 70%;
    background: rgb(179, 174, 174);
    flex-grow: 1;
    float: right;
    position: absolute;
    top: 0vh;
    left: 30vw;
    height: 22.5vh;
}

#temp {
    position: absolute;
    top: 5.5vh;
    right: 10vw;
}

aside {
    height: 22.5vh;
    font-size: 1.2vw;
}

aside a:link {
    color: black;
    text-decoration: none;
}

aside a:visited {
    color: currentColor;
}

aside a:hover {
    color: aqua;
}

.res {
    font-size: 200%;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 30%;
    left: 0;
}

.slider {
    overflow: hidden;
}

.slider figure div{
    width: 33.33%;
    float: left;
}

.slider figure img {
    width: 100%;
    float: left;
}

.slider figure {
    position: absolute;
    width: 300%;
    margin: 0;
    left: 0;
    animation: 20s slidy infinite;
    top: 30%;
}

@keyframes slidy{
    0%{
        left: 0%
    }
    10%{
        left: 0%
    }
    20%{
        left: -100%
    }
    30%{
        left: -100%
    }
    40%{
        left: -200%
    }
    50%{
        left: -200%
    }
    60%{
        left: -100%
    }
    70%{
        left: -100%
    }
    80%{
        left: 0%
    }
    90%{
        left: 0%
    }
}

#about {
    position: relative;
    top: 160vh;
    background-color: rgba(225, 225, 255, 0.5);
}

#about h3 {
    font-weight: bold;
    font-size: 250%;
    text-align: center;
    color: black;
}


#about p{
    color: black;
    font-size: 150%;
    padding-left: 1%;
}

#user {
    position: relative;
    top: 10vh;
    text-align: center;
}

#mkAcc {
    position: relative;
    top: 3vh;
    font-weight: bold;
    font-size: 100%;
}

#text    {
    position: relative;
    top: 10vh;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
}

#user a:link {
    color: rgb(0, 110, 255);
    text-decoration: none;
}

#user a:visited {
    color: rgb(0, 110, 255);
}

#photos {
    position: relative;
    top: -65vh;
    left: 5vw;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 17%;
    height: 43vh;
    background-color: rgb(179, 174, 174);
}

div.gallery:hover {
    border: 1px solid royalblue;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
    font-size: 2.7vh;
}

#dinning {
    width: 40%;
    position: relative;
    top: 7vh;
    left: 30vw;
}

#dine {
    border: 0px;
    background-color: #333;
    color: aqua;
    padding: 1%;
    width: 50%;
    text-align: center;
    font-size: 2.7vh;
    position: relative;
    left: 23vw;
    top: 10vh;
}

#book {
    width: 50%;
    position: relative;
    top: 7vh;
    left: 24vw;
}

#title {
    position: relative;
    top: 10vh;
    text-align: center;
    font-weight: bold;
    font-size: 300%;
}

.title {
    font-size: 150%;
}

.title h6 {
    font-weight: bold;
}

#userName {
    font-size: 150%;
}

.menu {
    position: relative;
    top: 5vh;
    padding: 1%;
    font-size: 110%;
}

.topic {
    text-align: center;
}

.rev {
    position: relative;
    top: 10vh;
    padding: 1%;
}

.quest {
    padding: 1%;
    padding-bottom: 0%;
    font-size: 1.5vw;
}

.ans {
    padding: 1%;
    padding-bottom: 0%;
    font-size: 1.5vw;
}

#call {
    padding: 1%;
    font-size: 1.9vw;
}